@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


body{
    display: grid;
    grid-template-areas: 
    "valmynd valmynd valmynd valmynd valmynd"
    "haus haus haus haus haus"
    "midja midja midja vinstri haegri"
    "fotur fotur fotur fotur fotur";
}

.haus{
    grid-area: haus;
    border: 1px solid black;
    font-family: 'Lora', serif;
    font-size: 35px;
    background-color: hsl(211, 100%, 20%);
}
.valmynd{
    grid-area: valmynd;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 20px;
}
.vinstri{
    grid-area: vinstri;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    overflow-block: auto;
    border: 20px solid  hsl(0, 100%, 35%);
    background-color: hsl(0, 100%, 35%);
}
.main{
    grid-area: midja;
    border: 1px solid hsl(210, 100%, 30%);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color:hsl(0, 0%, 85%);
    padding-left: 2px;
    padding-right: 2px;
    
}
.haegri{
    grid-area: haegri;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    background-color: hsl(0, 100%, 35%);
}
.fotur{
    grid-area: fotur;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;
}

.potent{
    font-size: 23px;
}